body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #87CEEB, #FFFFFF);
    font-family: 'Arial', sans-serif;
}

.screen {
    text-align: center;
}

button {
    background-color: #007bff;;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#gameCanvas {
    background-color: #FFFFFF;
    border: 5px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.score {
    color: #FFFFFF;
    font-size: 24px;
    margin-top: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.game-over-popup, .start-screen {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.game-over-popup p, .start-screen p {
    font-size: 20px;
    color: #000;
}

.game-over-popup button, .start-screen button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}
